body {
    background-color: #ffb020;
    color: #706ad8;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
.error {
    font-size: 10em;
    font-family: inherit !important;
}

.output {
    font-size: 2em;
    margin: 5px;
    font-family: inherit !important;
}

.text-white {
    color: white;

}
