body {
    padding-top: 56px;
}

.container {

}

#first_row {
    padding-top: 30px;
}

.img-fluid {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 5%;
}

.card {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.jumbotron {
    background-color: #10707f;
    color: white;
    height: 10pt;
    text-align: left;
}
