.padding-top-65px{
    padding-top: 65px;
}

.events-container{
    padding-bottom: 20px;
}

.item-list {
    margin-bottom: 15px;
}

.card-img-top {
    padding: 5px;
    background-color: #eceff1;
}

.card-body {
    background-color: #eceff1;
}

.card {
    margin-bottom: 10px !important;
}
