.card {
    margin-right: 10px;
    margin-left: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.navcolor {
    background-color: #706ad8 !important;
}

.footer-link {
    color: #ffb020;
}
