body {
    padding-top: 56px;
}

.img-fluid {
    margin-bottom: 20%;
    margin-top: 20%;
}

.card{
    margin: 10px !important;
    border: transparent;
}

.card-body {
    background-color: #eceff1;
}

.card-deck {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-header {
    padding: 0 !important;
    background: transparent;
    border-right-color: transparent !important;
    border-bottom: 0;
}

.card-img-top {
    padding: 5px;
    background-color: #eceff1;
    border: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 5%;
}

.rank {
    background-color: #eceff1;
    width: 5vw !important;
    height: 5vw !important;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    text-align: center;
    vertical-align: middle !important;
    display: table-cell;

}

.card-footer {
    padding: 10px;
    border: transparent;
}

.btn-big {
    height: 100%;
    width: 100%;
}

.padding-10px {
    padding: 2px 10px;
}

.white-card {
    visibility: hidden;
}

.fa-shopping-cart, .fa-user {
    font-size: 1.5em;
    color: white;
    margin-right: 10px;
}

/* keep card deck responsive */

@media (min-width: 0) {
    .card-deck .card {
        flex: 0 0 calc(100% - 30px);
    }
}
@media (min-width: 576px) {
    .card-deck .card {
        flex: 0 0 calc(50% - 30px);
    }
}
@media (min-width: 768px) {
    .card-deck .card {
        flex: 0 0 calc(33.33333% - 30px);
    }
}
@media (min-width: 992px) {
    .card-deck .card {
        flex: 0 0 calc(25% - 30px);
    }
}
@media (min-width: 1200px) {
    .card-deck .card {
        flex: 0 0 calc(20% - 30px);
    }
}
