.custom-footer{
    margin-top: 10px;
}

#price-tag{
    text-align: right;
}

.book-cover-container{
    background: gainsboro;
}

.debug{
    border-color: red;
    border-style: solid;
}


#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}


.floating-price{
    position: relative;
}

.margin-top-10{
    margin-top: 10px;
}

.review{
    margin-top: 20px;
}

.fill-parent{
    width: auto;
}

.similar-book-cover{
    width: 286px;
    height: 180px;
}

