.custom-footer{
    margin-top: 10px;
}

#price-tag{
    text-align: right;
}

.book-cover-container{
    background: gainsboro;
}

.debug{
    border-color: red;
    border-style: solid;
}


#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}


.floating-price{
    position: relative;
}

.margin-top-10{
    margin-top: 10px;
}

.review{
    margin-top: 20px;
}

.fill-parent{
    width: auto;
}

.similar-book-cover{
    width: 286px;
    height: 180px;
}

#similar-content{
    max-height: 600px;
    overflow-y: auto;
}

.similar-book-card{
    margin-bottom: 15px !important;
}

.text {
    position: relative;
    font-size: 14px;
    color: black;
    width: 250px; /* Could be anything you like. */
}

.abstract {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 18em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    text-align:justify;
}

.author-biography{
    max-height: 400px;
}

.author-book-card{
    width: 90%;
    margin: auto;
}

.author-books-container{
    overflow-y: auto;
    max-height: 500px;
}

.image-no-overflow{
    max-width: 100%;
}

.card-event{
    width: 90%;
    margin: 10px auto auto;
}

.events-container{
    max-height: 600px;
    overflow-y: auto;
}

.padding-top-65px{
    padding-top: 65px;
}

.fa-shopping-cart, .fa-user {
    font-size: 1.5em;
    color: white;
    margin-right: 10px;
}

.checked {
    color: orange;
}



footer{
    position: static;
    bottom: 0;
    width: 100%;
}

/* keep card deck responsive */

@media (min-width: 0) {
    .card-deck .card {
        flex: 0 0 calc(100% - 30px);
    }
}
@media (min-width: 576px) {
    .card-deck .card {
        flex: 0 0 calc(50% - 30px);
    }
}
@media (min-width: 768px) {
    .card-deck .card {
        flex: 0 0 calc(33.33333% - 30px);
    }
}
@media (min-width: 992px) {
    .card-deck .card {
        flex: 0 0 calc(33.33333% - 30px);
    }
}
@media (min-width: 1200px) {
    .card-deck .card {
        flex: 0 0 calc(33.33333% - 30px);
    }
}

.btn-big {
    height: 100%;
    width: 100%;
}

.item-list {
    margin-bottom: 15px;
}

.footer-logo{
    max-width: 150px;
}

body{
    overflow-y: scroll;
}